<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <title>Template</title>
</head>

<body>
  <section class="navagation">


  <div class="left inline-block">

  </div>
  <header class="inline-block">
    <!-- <i class="fas fa-grip-lines"></i> -->
    <!-- navbar expand is to make it horizontal -->
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-around d-flex text-center">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target=".navbarSupportedContent20" aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-flex justify-content-around col-md-2">
        <a href="#" class="navbar-brand">Template</a>
      </div>
      <div class="collapse navbar-collapse col-md-4 justify-content-center navbarSupportedContent20">
        <form class="form-inline my-2 my-lg-0 justify-content-center">
          <input class="form-control mr-sm-2 py-md-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
        <ul class="navbar-nav justify-content-around ">
          <li class="nav-item "><a href="" class="nav-link "><i class="fas fa-user"></i> Profile</a></li>
          <li class="nav-item "><a href="" class="nav-link "><i class="fas fa-comment-dots"></i> Chat</a></li>
          <li class="nav-item "><a href="" class="nav-link p-md-0 ml-md-4 "><button type="button" name="Login" class="btn btn-md btn-outline-light py-md-1 my-1">Login</button></a></li>
          <li class="nav-item "><a href="" class="nav-link p-md-0 ml-md-3"><button type="button" name="SignUp" class="btn btn-md btn-dark py-md-1 my-1">Sign Up</button></a></li>
          <!-- <li class="nav-item"><a href="" class="nav-link mr-auto"><i class="fas fa-calculator"></i> Calculator</a></li> -->
        </ul>
    </nav>
  </header>
  </section>
  <div class="content">
  <h1>Hello</h1>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>
