*{
  box-sizing: border-box;
}
body{
}
header{
  /* width: 80%; */
    /* background-color: #364f6b; */
}

nav{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}





/* SideBar */
.left{
  position: absolute;
  width:10%;
  height: 90vh;
  /* background-color: #364f6b; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-right: 1px solid grey;
}

.sidebar{
  width: 55%;
  height: 50vh;
  /* position: relative;
  top: 2rem; */
  margin: 2rem auto;
  /* margin-top: 4rem; */
  text-align: left;
  /* background-color: green; */
}
.sidebar p{
  border-bottom: 1px solid grey;
}


/* top navbar */

.top{
  /* border-left: 1px solid black; */
  display: flex;
  height:10vh;
  width: 90%;
  /* background-color: #364f6b; */
  justify-content: space-between;
  align-items: center;
}
.left-top-nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Brand{
  height: 3rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3fc1c9;
  border-radius: 5px;

}
.brand{
  margin-top: 5%;
  text-align: center;
}

.top form{
  margin-left: 5%;
  width: 95%;
}
.top-nav-link{
  margin-right: 5%;
  display: flex;
  align-items: center;
}
.top-nav-link span{
  font-size: 1.1rem;
}
