body{
  width: 100%;
  box-sizing: border-box;
}


.navagation{
  display: flex;
  width: 100%;
  /* position: fixed; */
}


header{
  width: 100%;
  height: 5rem;
}
nav{
  height: 100%;
  font-size: 1.1rem;
  background-color: #3f72af;
}
.fa-bars{
  font-size: 1.5rem;
}
nav input{
  width: 80%;
}



/* Main */
main{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

/* Sidebar */
.sidebar{
  background-color: skyblue;
  width: 10%;
  height: 95vh;
  display: inline-block;
  box-sizing: border-box;
}
.toggled{

}



.content{
  height: 80vh;
  background-color: red;
  width: 100%;
}
.sidebar-toggled{
  display: inline-block;
  width: 90%;

}
